<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>food is good</string>
	<string>machu picchu is tall</string>
	<string>daddy denero</string>
	<string>swinging for fences</string>
	<string>on cloud nine</string>
	<string>money grows trees</string>
	<string>elephant in the room</string>
	<string>down for the count</string>
	<string>an arm and a leg</string>
	<string>fit as a fiddle</string>
	<string>shot in the dark</string>
	<string>under your nose</string>
	<string>knock your socks off</string>
	<string>dropping like flies</string>
	<string>hit below the belt</string>
	<string>rain on your parade</string>
	<string>quick on the draw</string>
	<string>short end of stick</string>
	<string>burst your bubble</string>
	<string>silver linings</string>
	<string>in a pickle</string>
</array>
</plist>
